{% extends 'app/admin_baseNew.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Enquiry</h4>
                    <p class="card-text"> {{ enquiry.message }} </p>
                </div>
                <div class="card-content">
                    <form method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group required">
                                    <div class="form-group label-floating">
                                        <placeholder class="control-label"> Enter reply message here</placeholder>
                                        {{ form.answer }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-right">Reply</button>
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="clearfix"></div>
                    </form>
                </div>
                {% if enquiry.status == 'A' %}
                  <div class="col-md-12">
                    <h3>Replies</h3>
                    <div class="card" style="padding-left:10px; margin-top:0px;">
                    {% for answer in enquiry.enquiryanswer_set.all %}
                    <h4 class="card-title" data-background-color="purple">{{ answer.answered_by }}</h4>
                    <p class="card-text">{{ answer.answer }} </br>
                    <font class="timeStampText"> - {{ answer.created_at }}</font>
                    </p>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#">
                        <img class="img" src="/static/faces/marc.jpg" />
                    </a>
                </div>
                <div class="content">
                  <h4 class="card-title">{{ enquiry.name }}</h4>
                  <h6 class="category text-gray">{{ enquiry.email }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
    $("textarea").attr({"class": "form-control","rows": "5"});
});
</script>
{% endblock %}
