{% extends 'app/baseUserNew.html' %}
{% block body %}
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="100">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'app:home' %}"><img src="/static/logo.png" height="60" /></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-info">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" {% block nav_school%}{% endblock %} href="{% url 'app:school_list' %}">Schools</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% block nav_bookmark%}{% endblock %} href="{% url 'app:bookmark_list' %}">Bookmark</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" {% block nav_compare%}{% endblock %} href="{% url 'app:compare_schools' %}">Comparison</a>
                    </li>
                    <form class="form-inline navbar-form my-2 my-lg-0" style="margin-right:40px;" action='/schools/' method='GET'>
                        <input class="form-control mr-sm-2 input-sm" type="text" placeholder="Search school" {% if params.school_name %} value={{params.school_name}} {% endif %} name='school_name'>
                        <button class="btn btn-outline-default btn-sm btn-round" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                          <a class="btn-outline-success" href="{% url 'app:profile' %}">Hi, {{ user }}</a>
                          <a href="{% url 'sso:logout' %}"  class="btn btn-success btn-round">Logout</a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();" class="btn btn-danger btn-round">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    {% block content %}
    {% endblock %}
    <!-- Modal -->
    <div class="modal fade login" id="loginModal">
        <div class="modal-dialog login animated">
            <div class="modal-content">
                <div class="modal-header mt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="content">
                              {% if form.errors %}
                                  {% for error in form.non_field_errors %}
                                        <div class="error alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                              {% else %}
                                  <div class="error"></div>
                              {% endif %}
                            {% if next and not form.errors %}
                                {% if user.is_authenticated %}
                                    <p>
                                        Your account doesn't have access to this page. To proceed, please login with an account that has access.
                                    </p>
                                {% else %}
                                    <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}
                            <div class="form loginBox">
                              <form id="login-form" accept-charset="UTF-8" onsubmit="loginAjax(event)" method="post">
                                  {% csrf_token %}
                                    <input id="lemail" class="form-control" type="text" placeholder="Email" name="username">
                                    <input id="lpassword" class="form-control" type="password" placeholder="Password" name="password">
                                    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}"></input>
                                    <input class="btn btn-default btn-login" type="submit" value="Login">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="content registerBox" style="display:none;">
                            <div class="form">
                                <form id="register-form" method="post" onsubmit="registerAjax(event)" accept-charset="UTF-8">
                                  {% csrf_token %}
                                  <input id="id_first_name" class="form-control" type="text" placeholder="First Name" name="first_name">
                                  <input id="id_last_name" class="form-control" type="text" placeholder="Last Name" name="last_name">
                                    <input id="remail" class="form-control" type="text" placeholder="Email" name="email">
                                    <input id="rpassword" class="form-control" type="password" placeholder="Password" name="password1">
                                    <input id="rpassword_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password2">
                                    <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="forgot login-footer">
                        <span>
                            Looking to
                            <a href="javascript: showRegisterForm();">create an account</a>
                            ?
                        </span>
                    </div>
                    <div class="forgot register-footer" style="display:none">
                        <center>
                            <span>Already have an account?</span>
                            <a href="javascript: showLoginForm();">Login</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
{% endblock %}
